.div-scroll {
    overflow-y: scroll;
    height: 360px;
    -webkit-box-shadow: 10px 10px 43px 5px rgba(204,204,204,0.74);
    -moz-box-shadow: 10px 10px 43px 5px rgba(204,204,204,0.74);
    box-shadow: 10px 10px 43px 5px rgba(204,204,204,0.74);
    border-radius: 10px;
}

.circle {
    border-radius: 50px;
    background-color: green;
    width: 10px;
    height: 10px;
}